<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115591952018-33hqh2kqtp1bbbc1qhgptfst5325er4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115591952018-33hqh2kqtp1bbbc1qhgptfst5325er4s</string>
	<key>API_KEY</key>
	<string>AIzaSyBz594P_egE0J9sPgQyrPhZDJUalwIEHJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>115591952018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assistantpro</string>
	<key>PROJECT_ID</key>
	<string>assistantpro-1</string>
	<key>STORAGE_BUCKET</key>
	<string>assistantpro-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115591952018:ios:518476d9bd3a46cd45584b</string>
	<key>DATABASE_URL</key>
	<string>https://assistantpro-1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>